% include includes/header.html

<main role="main" class="container-wiki">

  <div class="row">
    <div class="col">
      % include includes/messages.html
      <h2>List of all tags in this wiki</h2>
      <ul>
        % for tag in tags:
        <li><a href="{{tag.link}}">{{tag.title}}</a></li>
        % end
      </ul>
      <hr />
    </div>

    <div id="sidebar" class="sidebar-col">
      % include includes/sidebar.html
      <hr />
    </div>
  </div>

</main>

% include includes/footer.html