body {
    background-color: rgb(48, 48, 48);
    color: rgb(192, 192, 192);
    line-height: 1.6rem;
}

.form-group input, .form-group input:focus {
    color: rgb(240, 240, 240);
}

.form-control, .form-control:focus {
    background-color: rgb(40, 40, 40);
    color: rgb(192, 192, 192);
    line-height: 1.6rem;
}


*::-webkit-scrollbar {
    width: 1.1rem;
}


*::-webkit-scrollbar-track {
    background: rgb(72, 72, 72);
}


*::-webkit-scrollbar-thumb {
    background-color: rgb(128, 128, 128);
    border-radius: 1px;
    border: 1px solid rgb(34, 34, 34);
}

a {
    color: rgb(122, 158, 229);
}

.wiki-link {
    background-color: rgb(40, 40, 40);
}

a:hover {
    color: rgb(192, 160, 255);
}

.nav-tabs .nav-link.active {
    background-color: #495057;
    color: #fff;
}

.wiki-sidebar-controls {
    /*line-height: 1.5em;*/
}

.form-control:disabled, .form-control[readonly] {
    /*background-color: #e9ecef;*/
    background-color: #495057;
    opacity: 1;
}

.button-oi {
    /* border: 1px solid #ced4da; */
    border: 0;
    border-radius: .3rem;
    padding: 8px;
    background-color: rgb(61 57 57);
}

blockquote {
    background-color: rgb(0 0 0 / 0.3);
}

table.table {
    color: aliceblue;
}

.table-hover tbody tr:hover {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.325);
}

hr {
    border-top: 1px solid #adb5bd;
}

.modal-content {
    background-color: rgba(0.32, 0.32, 0.32);
    border: 1px solid #495057;
}

pre {
    color: rgb(176,192,192);
}

.wiki-external-link {
    color: rgb(172, 166, 94);
}

.btn-dark {
    border: 1px solid gray;
}